/node_modules/socket.io/node_modules/engine.io/node_modules/ws/build/Release/.deps/
/node_modules/socket.io/node_modules/socket.io-client/node_modules/engine.io-client/node_modules/.bin/
/node_modules/socket.io/node_modules/socket.io-client/node_modules/engine.io-client/node_modules/ws/build/Release/.deps/
/node_modules/ws/node_modules/bufferutil/.node-gyp/
/Server_side/node_modules/socket.io/node_modules/engine.io/node_modules/ws/build/Release/.deps/
/Server_side/node_modules/socket.io/node_modules/socket.io-client/node_modules/engine.io-client/node_modules/.bin/
/Server_side/node_modules/socket.io/node_modules/socket.io-client/node_modules/engine.io-client/node_modules/ws/build/Release/.deps/
/Server_side/node_modules/ws/node_modules/bufferutil/.node-gyp/